@font-face {
  font-family: Vazir;
  src: url('assist/font/vazir/eot/Vazir.eot');
  src: url('assist/font/vazir/eot/Vazir.eot?#iefix') format('embedded-opentype'), url('assist/font/vazir/woff2/Vazir.woff2') format('woff2'), url('assist/font/vazir/woff/Vazir.woff') format('woff'), url('assist/font/vazir/ttf/Vazir.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url('assist/font/vazir/eot/Vazir-Thin.eot');
  src: url('assist/font/vazir/eot/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('assist/font/vazir/woff2/Vazir-Thin.woff2') format('woff2'), url('assist/font/vazir/woff/Vazir-Thin.woff') format('woff'), url('assist/font/vazir/ttf/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  src: url('assist/font/vazir/eot/Vazir-Light.eot');
  src: url('assist/font/vazir/eot/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('assist/font/vazir/woff2/Vazir-Light.woff2') format('woff2'), url('assist/font/vazir/woff/Vazir-Light.woff') format('woff'), url('assist/font/vazir/ttf/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: vazird;
  src: url(assist/font/vazird/eot/Vazir-Light-FD.eot) format("eot"), url(assist/font/vazird/woff/Vazir-Light-FD.woff) format("woff"), url(assist/font/vazird/woff2/Vazir-Light-FD.woff2) format("woff2"), url(assist/font/vazird/ttf/Vazir-Light-FD.ttf) format("truetype");
}
@font-face {
  font-family: hepo;
  src: url(assist/font/Heebo-Light.ttf) format("truetype");
}
@font-face {
  font-family: mik;
  src: url(assist/font/Mikhak-VF.woff2);
}
body {
  direction: rtl;
  text-align: right;
  font-family: Vazir;
  background-color: #fefefe;
  color: #222;
}
p {
  line-height: 31px !important;
}
.myshadow {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32);
  transition: all 0.22s;
}
.myshadow:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
.bg-light {
  background-color: #fcfcfc !important;
}
.bg-warning {
  background-color: #FFD872 !important;
}
.bg-ulw {
  background-color: #fefefe;
}
.hepo {
  font-family: hepo;
}
.text-ulight {
  color: #fefefe;
}
.mikhak {
  font-family: mik;
  font-variation-settings: "wght" 350, "wdth" 100;
  font-feature-settings: "kern", "calt" 0, "dlig";
}
.vazir {
  font-family: Vazir;
}
a {
  text-decoration: unset !important;
  color: unset;
}
a:hover {
  color: unset;
}
.bg-udark {
  background: linear-gradient(104.89deg, #555555 -127.49%, #666666 100%);
}
.bg-slide {
  background-color: #F5FAFD;
}
.btn-slider {
  background: linear-gradient(140.72deg, #ec474a -55.24%, #f7815e 127.1%);
  box-shadow: 0px 4px 4px rgba(245, 70, 70, 0.25);
  border: none;
}
.btn-slider:hover {
  background: linear-gradient(140.72deg, #FF5D5F -55.24%, #FF9472 127.1%);
}
.ln4 {
  background-image: linear-gradient(to top, #fefefe 0%, #fdfdfd 100%);
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32);
  transition: all 0.22s;
}
.ln4:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
}
.flx {
  display: flex;
  align-items: center;
  padding: 3px;
}
.flx1 div img {
  width: auto !important;
  height: 80px;
}
.underline {
  border-bottom: 1.5px solid #999;
}
.underline2 {
  border-bottom: 2px solid #fa8082;
  margin-bottom: -2px !important;
}
.contentbox2:hover {
  z-index: 10;
}
.contentbox {
  margin: 15px 0;
  transition: all 0.25s;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  float: right;
}
.contentbox:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
  transform: unset;
}
.contentbox:hover .pricebox {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  color: #fefefe;
}
.contentbox:hover .amount {
  color: #fefefe;
}
.contentbox .pricebox {
  background-image: linear-gradient(179deg, #fff 103%, #fff 39%) !important;
  padding: 5px 20px;
  border-radius: 3px;
  color: #fff;
  margin-top: 3px;
  float: right;
}
.contentbox .pricebox:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
}
.contentbox .pricebox:hover span {
  color: #fafafa;
}
.contentbox .add-to-cart {
  color: #666;
  padding: 5px 10px;
  border-radius: 3px;
  float: left;
  font-size: 1.5rem;
  margin: 5px 2px;
}
.contentbox .add-to-cart:hover {
  color: #9887cd;
}
.contentbox .add-to-cart2 {
  color: #FF5D5F;
  border-radius: 3px;
  display: block;
  padding: 3px 5px;
  font-size: 1rem;
}
.contentbox .add-to-cart2:hover {
  color: #FF5D5F;
  background: #fff;
  text-decoration: none;
}
.contentbox header figure img {
  width: 250px;
  height: auto;
  margin: 10px auto;
  max-width: 100%;
}
.contentbox .fotcan {
  padding: 1rem 1.5rem 4.2rem;
}
.contentbox .woocommerce-Price-amount {
  font: 1.2rem vazird !important;
  color: #333;
}
.contentbox .icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
.contentbox .icon--heart {
  filter: grayscale(1);
}
.contentbox .icon--heart:hover {
  filter: grayscale(0);
}
.contentbox .iconbutton {
  display: flex;
  align-items: center;
  background: 0 0;
  border: 0;
  padding: 2px 0;
  position: relative;
}
.contentbox .iconbutton:focus {
  outline: 0;
}
#icon-heart {
  color: #FF5D5F;
}
.bann {
  height: 15rem;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
}
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("assist/img/footer.png");
}
.mybg {
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}
.width {
  width: auto;
}
.buy-steps {
  padding: 0px;
  margin-top: unset;
}
.buy-steps ol {
  padding: 0;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.buy-steps ol li {
  margin: 0;
  width: 100%;
  background-color: #fcfcfc;
  padding: 1rem 2rem;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
}
.buy-steps ol li img {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}
.buy-steps ol li:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #f0f0f0;
  top: 50%;
  left: 0;
  position: absolute;
  overflow: auto;
  transform: translate(0, -50%);
}
.buy-steps ol li:last-of-type:before {
  content: initial;
}
.buy-steps ol li:nth-child(even) {
  background-color: #f0f0f0;
}
.buy-steps ol li:nth-child(even):before {
  border-color: transparent transparent transparent #fcfcfc;
}
@media only screen and (max-width: 992px) {
  .buy-steps ol {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .buy-steps ol li:before {
    border-width: 7px 7px 0;
    border-color: #fcfcfc transparent transparent;
    top: 104%;
    left: 50%;
    position: absolute;
    overflow: auto;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .buy-steps ol li:nth-child(even) {
    background-color: #f0f0f0;
  }
  .buy-steps ol li:nth-child(even):before {
    border-color: #f0f0f0 transparent transparent;
  }
}
.footer-copyright2 {
  background-color: #616161;
  text-align: left;
  color: #f0f0f0;
  padding: 5px 0 0.01px 10px;
}
.footer-copyright2 p {
  margin-bottom: 0;
}
.footer-copyright {
  background-color: #444;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}
.footer-copyright p {
  margin: 10px;
  color: #ccc;
}
.menu {
  --color: #2e2b2b;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
.menu svg {
  width: 40px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu svg path {
  -webkit-transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.menu svg path:nth-child(2) {
  --duration: 0.7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}
.menu.active svg path {
  --offset: 57px;
}
.menu.active svg path:nth-child(1),
.menu.active svg path:nth-child(3) {
  --delay: 0.15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.menu.active svg path:nth-child(2) {
  --duration: 0.4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
  --offset: 58px;
}
.resetbtn {
  background: unset !important;
  border: unset !important;
}
.spec:hover {
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
  color: #fefefe;
  border-radius: 2px;
}
.myshadow2 {
  box-shadow: 2px 2px 15px 0 rgba(160, 160, 160, 0.41);
  z-index: 99999 !important;
}
.nav .active {
  border-radius: 0 !important;
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}
.megamenu {
  z-index: 2;
  width: 53%;
}
.mybg-dark:hover {
  background: linear-gradient(103.46deg, #474747 1.23%, #404040 100.04%);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
  color: #fefefe;
}
.a {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.a:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
}
.modal-backdrop {
  opacity: 0 !important;
}
.megamenu>div>div>div>ul>a>li:hover{
  background-color: #333 !important;
  color: #fefefe;
}


/* Team section css */